.loginForm {
  /* width: 60%; */
  flex-direction: column;
  border: solid 1px black;
  /* //background: #f7eeee; */
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 30%;
}
form {
  width: 100%;
}
input[type='text'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lable {
  margin-top: 20px;
}
button {
  width: 75px;
  background-color: green;
  color: '#fff';
  border-radius: 4px;
  padding: 9px;
}
span {
  color: red;
}
